
<style>
    .contentItem{
        width: 100%;
        padding: 5px;
        background-color: white;
        border-bottom: 1px rgb(64, 64, 64) solid;
    }
    .contentHeadline{
        font-size: 18px;
        display: inline-block;
    }
    .contentAbout{
        color: rgb(64, 64, 64);
        font-size: 14px;
        display: inline-block;
    }
    .contentDownload{
        margin-right: 50%;
        outline: none;
        border: none;
        padding: 3px;
        cursor: pointer;
        background-color: rgb(64, 64, 64);
        color: white;
        margin-top: 20px;
        height: 0.25in;     
    }
</style>

<div class="contentItem">
    <span class="contentHeadline">الاختبارات</span>
    <span class="contentAbout">لقد أنجزت 4\5 من اختبارات هذا الكورس ، أكمل الاختبار الأخير وقم بتحميل الشهادة!.</span>
    <button class="contentDownload">ذهاب إلى الاختبارات</button>
</div>
<div class="contentItem">
    <span class="contentHeadline">ملف الدارات المستخدمة</span>
    <span class="contentAbout">يشمل الملف الدارات المستخدمة في هذا القسم من الكورس ، وهي 12 دارة وتمرين</span>
    <button class="contentDownload">تحميل (fritzing 3.2MB)</button>
</div>
<div class="contentItem">
    <span class="contentHeadline">ملف الكودات ببيئة Arduino</span>
    <span class="contentAbout">تحتوي على الأكواد (السكربتات) المكتوبة ببيئة ArduinoIDE للتطبيقات السابقة</span>
    <button class="contentDownload">تحميل (docx 340K.B.)</button>
</div>